<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Page not found | Visions Unite</title>
    <link rel="stylesheet" href="/assets/app.css"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          
        </nav>
        <h1><a href="/">Visions Unite</a></h1>
        <p><strong><em>Everybody's Voices, Nobody's Noise</em></strong></p>
      </section>
    </header>
    <main class="container">
      <section class="phx-hero">
        <p>Sorry, the page you are looking for does not exist.</p>
      </section>
    </main>
  </body>
</html>
