/* Following Phoenix in using https://milligram.io/ as our base CSS */
@import "./milligram.css";

/* Undo milligram's over-sized bottom margins. */

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2rem;
}

:root {
  --link: #aaccff;
  --visited: #779cde;
  --link-dark: #003193;
  --visited-dark: #3d587b;
  --background: #222222;
  --muted: #333333;
  --foreground: #dddddd;
  --brighter: #eeeeee;
}

/* General style */
h1{font-size: 3.4rem; line-height: 1.25}
h2{font-size: 3.0rem; line-height: 1.3}
h3{font-size: 2.6rem; letter-spacing: -.08rem; line-height: 1.35}
h4{font-size: 2.0rem; letter-spacing: -.05rem; line-height: 1.5}
h5{font-size: 1.8rem; letter-spacing: 0; line-height: 1.4}
h6{font-size: 1.6rem; letter-spacing: 0; line-height: 1.2}

/* Headers */
header {
  width: 100%;
  margin-bottom: 2rem;
}
header section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header section :first-child {
  order: 2;
}
header section :last-child {
  order: 1;
}
header nav ul,
header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}
header nav ul {
  margin: 1rem;
  margin-top: 0;
}
header nav a {
  display: block;
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */
  header section {
    flex-direction: row;
  }
  header nav ul {
    margin: 1rem;
  }
}

/* Footer */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.copyright img {
  height: 2rem;
  vertical-align: text-bottom;
}

/* Main */

html {
  background-color: var(--background);
}

body {
  color: var(--foreground);
  font-size: 1.7rem;
}

.description {
  margin-bottom: 3rem;
}

a:hover {
  text-decoration: underline;
}

/* Buttons */

a:hover.button {
  text-decoration: inherit;
}

/* Undo silly milligram decision to make button text small and constrain height
 * (which makes text appear not to be vertically centered in the button).
 */
.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  font-size: inherit;
  height: inherit;
}

/* Radios and checkboxes are inline; if their label wraps the bottom margin looks bad. */
input[type="checkbox"], input[type="radio"] {
  margin-bottom: 0;
}

/**
 * Note: To catch all buttons, we would want to do the same as milligram:
 * .button:focus, .button:hover, button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
 * … but maybe we don't have to do that.  Add the class!
 */

a, a.button.button-outline {
  color: var(--link);
}

a:visited, a:visited.button.button-outline {
  color: var(--visited);
}

.button {
  background-color: var(--link);
  border-color: var(--link);
  color: var(--muted);
}

a:hover.button {
  border-color: inherit;
}

a:visited.button {
  background-color: var(--visited);
  border-color: var(--visited);
  color: #fff;
}

a:hover:visited.button {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

span:hover.disabled {
  cursor: default;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

/* Tabs */

.tabs {
  margin-top: 2rem;
  border-bottom: .2rem solid #eaeaea;
}

.tab {
  padding: 1rem;
  background-color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* All this is so we can use h1, h2 etc but make them behave. */
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 0;
  letter-spacing: normal;
  line-height: 1.6rem;
}

nav.tabs .tab {
  font-size: 1.8rem;
}

.tab.active {
  background-color: #eaeaea;
  color: black;
  font-weight: 700;
}

/* Cards (message, group listings) */

.card {
  padding: 1rem;
  border: 1px solid var(--brighter);
  border-radius: 5px;
  overflow: visible;
  overflow-wrap: break-word;
  hyphens: auto;
  margin-bottom: 1.25rem;
}
.not-reviewed {
  border-style: dashed;
}
.card .description {
  margin-bottom: 1rem;
}
li.card {
  list-style: none;
}

/* Groups */

.current-user-options {
  margin-top: 1rem;
}

/* Other */

summary > span {
  padding: 0.5rem;
  background: #ee2222;
  border-radius: 5px;
}

li {
  margin-bottom: revert;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.columnn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.centered {
  text-align: center;
  align-items: center;
}

.breathe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spacer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

nav > a {
  display: inline-block;
  padding: 0.5rem;
  background: #bbbbbb;
}

nav .column {
  border: solid var(--brighter) 2px;
  border-radius: 5px;
}

nav div {
  margin: 5px;
}

nav > div > a {
  font-size: 2rem;
}

nav .column a.active {
  border: solid var(--brighter) 3px;
  border-radius: 5px;
  background: var(--brighter);
  pointer-events: none;
}

input {
  color: var(--brighter);
}

select {
  background-color: var(--foreground);
}

textarea {
  min-width: 13rem;
  color: var(--brighter);
}

button > a {
  color: var(--brighter);
}

/* Calls to action (combo of text and buttons) */

.cta {
  text-align: center;
  width: fit-content;
}
.cta .button {
  margin-top: 1rem;
}

/* Alerts and form errors used by phx.new */
.alert {
  color: #222;
  background: #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert a {
  color: var(--link-dark);
}
.alert a:visited {
  color: var(--visited-dark);
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.has-close-alert {
  position: relative;
  padding-right: 4rem;
}
.close-alert {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* Make errors far more noticeable after form submission failure. The shift to Tailwind makes default classes trash in Phoenix, so we added .has-errors to the form and the only way to target the error message is this text-rose-600 without finding where to override the classes. */
.has-errors .text-rose-600 {
  font-weight: bold;
  background: white;
  color: darkred;
  padding-left: 1rem;
  padding-bottom: .25rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.no-errors .text-rose-600 {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #222222;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Column Spacing */
.column {
  margin: 10px;
}

.tag {
  color: var(--foreground);
  white-space: nowrap;
  line-height: 1.5rem;
  margin: 0.25rem;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 1px solid #108548;
  background: #108548;
  border-radius: 2rem;
}

.muted {
  font-size: 1.5rem;
  color: var(--foreground);
}
.muted summary {
  font-size: 1.75rem;
}
p.muted {
  margin-bottom: 1rem;
}

.matched {
  cursor: pointer;
}

p:has(+ul) {
  margin-bottom: 0;
}

/* Milligram changes background but not the text color, fix that. */
pre {
  color: var(--background);
}

pre > code {
  margin: 0;
  padding: 0;
}
